<body>
  <div class="sessions-show-container">

    <div class="show_messges_box">
      <div class="hare_title"><h5>恋人の申請</h5></div>
      <p class="hare_line_button">LINEで送信</p>
      <p class="share_message_label">メッセージ......<p>
      <p class="share_url">https://line-text-d66b83e480a5.herokuapp.com</p>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const lineBtn = document.querySelector('.hare_line_button');
        const shareUrlText = document.querySelector('.share_url');

        lineBtn.addEventListener('click', function () {
          const rawUrl = shareUrlText.textContent.trim();
          const lineShareUrl = "https://line.me/R/msg/text/?" + encodeURIComponent(rawUrl);
          window.open(lineShareUrl);
        });
      });
    </script>

    <div class="show_box">
      <div class="taitle"><h5>aaaaaa</h5></div>
      <div class="myProfile_row">
        <img src="<%= current_user.image %>" alt="LINEプロフィール画像" class="myProfile_image">
        
        <div class="myProfile_texts">
          <div class="my_id"><%= @profile.unique_id %></div>
          <div class="myName"><%= current_user.name %></div>
        </div>
      </div>

      <p class="my_label"><strong>生年月日</strong></p>
      <p><%= @profile.birthdate.strftime("%Y年 %m月 %d日") if @profile.birthdate %></p>
      <p class="my_girlfriend">恋人</p>
      <p><%= @profile.has_partner ? "有り" : "なし" %></p>

    
    </div>
      

  </div>
</body>
