<確認ページ>
<%= link_to "新規登録ページに戻る", expendable_items_path%>
<div class="sessions-new-container">
  <div class="sessions-new-box">
    <div class="profile-card">
      <!-- 🔹 プロフィール画像 -->
      <% if @profile.profile_image.attached? %>
        <img src="<%= url_for(@profile.profile_image) %>" alt="プロフィール画像" class="profile-image">
      <% else %>
        <p>画像なし</p>
      <% end %>

      <!-- ユーザー名 -->
      <div class="profile-name"><%= current_user.name %></div>
      <!-- 生年月日 -->
      <p><strong>生年月日</strong></p> <p><%= @profile.birthdate.strftime("%Y年 %m月 %d日") if @profile.birthdate %></p>

      <!-- 確認ボタン -->
      <%= button_to "登録", expendable_items_path, method: :post, class: "btn btn-primary btn-primary_2" %>
      <!-- 修正ページへ戻るリンク -->
      <%= link_to "戻る", expendable_items_path, class: "btn-secondary" %>

    </div>
  </div>
</div>