 <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
<body>
  <div class="sessions-new-container">
    <div class="sessions-new-box">
      <% if user_signed_in? %>
        <img src="<%= current_user.image %>" alt="LINEプロフィール画像" class="profile-image">
        <div class="profile-name"><%= current_user.name %> さん</div>
      <%end%> 
      
      <%= form_with model: @user, url: users_path, method: :post, multipart: true do |f| %>

        <div class="birthdate-wrapper">
          <div class="birthdate-box">
            <%= f.text_field :birth_year, placeholder: "   ", pattern: "\d{4}", required: true, class: "birth-input"%><span>年</span>
            <%= f.text_field :birth_month, placeholder: "  ", pattern: "\d{1,2}", required: true, class: "birth-input"%><span>月</span>
            <%= f.text_field :birth_day, placeholder: "  ", pattern: "\d{1,2}", required: true, class: "birth-input"%><span>日</span>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "確認", class: "btn btn-primary" %>
        </div>
      <% end %>    

    </div>
  </div>
</body>
